* {
    margin: 0;
    padding: 0;
}

.basket {
    width: 60%;
    margin: auto;
}

.basket-box img {
    width: 50px;
    height: 50px;
}

.basket-img {
    display: flex;
    width: 400px;
}

.basket-img p {
    font-weight: bold;
    margin-left: 10px;
}

.basket-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    border-bottom: 2px solid skyblue;
    padding-bottom: 5px;
}

.basket-box button {
    padding: 5px 10px;
    font-weight: bold;
    
}

.purchase {
    padding: 5px 10px;
    border: none;
    font-weight: bold;
    background-color: rgb(144, 177, 96);
}

.total {
    display: flex;
    justify-content: space-between;
}

.total span:nth-child(1) {
    font-size: 1rem;
    font-weight: bold;
}

.total span:nth-child(2) {
    font-size: 1rem;
    color: green;
    font-weight: bold;
}

.empty-basket p {
    font-size: 1rem;
    color:red;
}