
.nav {
display: flex;
color: white;
background-color: rgb(17, 20, 31);
/* border: 1px solid red; */
justify-content:flex-end;
align-items: stretch;
gap: 2px;
padding: 11px;
position: sticky;
top: 0;
}

* {
    box-sizing: border-box;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;
}
.nav a {
    color: white;
    height: 100%;
    display: flex;
    text-decoration: none;
    align-items: center;
}

.nav li.active {
    background-color: #444;
}
.nav li:hover {
    background-color: #777;
}