.App {
  text-align: center;
  background-color: white;
  /* font-size: calc(3px + 2vmin); */
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(5px + 2vmin);
  color: black
} */
.products-container {
  /* display: flex; */
  /* flex-direction: row; */
  /* flex-flow: wrap  */
  /* justify-content: space-around; */
}

/* .products-basket {
  background-color: aqua;
  padding: 1rem;
  border-radius: 0.5rem;
} */
.products {
  /* flex-direction: row;
  background-color: white;
  font-size: calc(1px + 2vmin); */
  /* flex-direction: row; */
  flex: 1;
}
.row {
 display: flex;
 /* flex-direction: column; */
 justify-content: space-between;
}
.col-1 {
  flex: 1;
}
.col-2 {
  flex: 2;
}


/* .block {
  background-color: #777;
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 0.5rem;
} */

.row.center {
  align-items: center;
}